/* Sticky footer styles
-------------------------------------------------- */
html {
    height: 100%;
    overflow: initial !important;
    background-color: #F2F2F2;

}
body {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #F2F2F2;
    font-family: 'Rokkitt', serif;
    overflow-x: hidden;
    /*    position: initial !important;
        top: initial !important;*/
}
.footer {
    opacity: 1;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 6vh;
    line-height: 6vh; /* Vertically center the text there */
    background-color: #b0b0b0;
    grid-row-start: 2;
    grid-row-end: 3;
}

.ordenacion{
    width: 25%;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


/*NAVBAR*/

.navbar {
    height: 80px !important;
    background-color: rgba(0,0,0,0.45) !important;
    border: none !important;
    color: white !important;
    z-index: 100 !important;
    transition: background-color 1s ease 0s !important;
}

.navbar.solid {
    background-color: #008040 !important;
    transition: background-color 1s ease 0s !important;
    box-shadow: 0 0 4px grey !important;
}

.loginbutton {
    border: 1px solid black; 
    border-radius: 7px;
    background-color: #3CB345;
}

.iconousuario {
    font-size: 37px;
    color: #8EC64C;
    cursor: pointer;
}

.iconousuario::before {
    vertical-align: -0.1em;
}

.iconocor, .iconocasa {
    font-size: 30px;
    cursor: pointer;
}

.iconocor {
    color: #be0000;
}

.iconocasa {
    color: white;
}

.dropdown-toggle {
    color: #8EC64C !important;
}
.dropdown-toggle::after {
    vertical-align: 0.5em;
    cursor: pointer;
}


/*IMAGEN CIUDAD*/

.imgciudadvalencia {
    background-image: url(../images/valencia.jpg);
    width: 100vw;
    height: 400px;
}

/*.imglanding{
    width: 175px;
    height: 225px;
}

.valencia{
    position: absolute;
    display: flex;
    margin-left: -30px;
    margin-top: -80px;
    align-items: center;
    justify-content: center;
}*/

/*ANUNCIO*/

/*.imgminianuncio {
    width: 350px;
    height: 250px;
}*/

/*.cuerpoanuncio {
    background-color: white;
}*/

.precioanuncio{
    text-align: right;
}

.precioanuncioview{
    font-weight: bold;
    font-size: 4.5vw;
}

.favanuncio {
    position: absolute;
    font-size: 25px;
    margin-left: -25px;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    color: grey;
    background-color: white;
    border-radius: 50%;
    outline: none;
    z-index: 20;
}

.favanuncio:hover{
    background-color: coral;

}

/*.heart:hover{
    background-position: 100%;
}*/

/*CORAZÓN LIKE*/

.heart {
    width: 100px;
    height: 100px;
    background: url(../images/heart.png) no-repeat;
    margin-left: -25px;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
    outline: none;
    background-position: 0 0;
}
.heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}

/*CHECKBOX FILTRO EXTRAS*/

md-checkbox.md-checked.brown .md-icon {
    background-color: rgb(194, 76, 0);
}

.checkbox-inline{
    border-bottom: 1px solid #888;
}

.md-ink-ripple{
    margin-left: 5px;
}

.filtroinput {
    display: table;
    width: 100%;
}

.favcontainer {
    margin-top: 150px;
}

/*BOTON EDITAR ANUNCIO*/

.md-button.md-raised.edit:not([disabled]){
    background-color: #008040;
    color: white;
}

/*FORMULARIO NUEVO ANUNCIO*/

.newForm {
    border: 0.5px solid grey;
}

md-input-container label{
    color:black;
}

md-select-value span{
    color: black;
}

#gallery-photo-add{
    width: 275px;
}

.gallery img, .imagesLoaded img{
    width: 250px;
    height: 100px;
    padding: 5px;
}

md-select:disabled{
    background-color: red;
}

/*.inputbanyos {
    width: 10%;
}*/

.page-link{
    background-color: rgb(194, 76, 0) !important;
    border-color: rgb(194, 76, 0) !important;
}

.alert p{
    font-size: 22px;
}

.alert button{
    width: 135px;
}

.card-body{
    padding-bottom: 0px;
    padding-top: 1rem;
}

.titanunciospec{
    font-size: 22px;
    text-transform: capitalize;
}

.titanunciospec span{
    text-transform: none;
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .favanuncio {
        position: absolute;
        margin-left: 43%;
        margin-top: -45%;
    }

    .imgminianuncio {
        width: 96%;
        height: 250px;
    }

    .precioanuncio{
        margin-top: 20px;
    }

    .card-body{
        padding-bottom: 0px;
    } 

    .ordenacion{
        width: 65%;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {     
    .favanuncio {
        position: absolute;
        margin-left: 45%;
        margin-top: -32%;
    }

    .imgminianuncio {
        width: 97%;
        height: 250px;
    }

    .precioanuncio{
        margin-top: 20px;
    }

    .card-body{
        padding-bottom: 0px;
    } 

    .ordenacion{
        width: 65%;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }















/* Custom Hover.css
-------------------------------------------------- */

/* Border Fade */
.hvr-border-fade {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    box-shadow: inset 0 0 0 1px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-border-fade:active,.hvr-border-fade:focus,.hvr-border-fade:hover {
    box-shadow:inset 0 0 0 2px #2098D1,0 0 1px rgba(0,0,0,0)
}

