<header-component></header-component>
<div class="container-fluid pr-0">
    <div class="row">
        <div ng-class="cssCiudad"></div>
    </div>
    <div class="row">
        <aside class="col-md-2 col-xs-2 pt-5 asidefiltros">
            <!--FILTRO DE BARRIO-->
            <md-input-container style="width: 100%;">
                <label>Barrio</label>
                <md-select class="filtrobox" ng-model="selectedBarrio" ng-change="filtroBarrio()">
                    <md-option aria-label="{{barrio.barrios.desc}}" ng-value="{{barrio.barrios.id}}" ng-repeat="barrio in listaBarrios">
                        {{ barrio.barrios.desc}}
                    </md-option>
                </md-select>
            </md-input-container>
            <!--FILTRO DE EXTRAS-->
            <h3>Extras</h3>
            <div style="border: 1px solid #888;">
                <div class="checkbox checkbox-inline filtroinput" ng-click="filtroExtras(extras.extras.id)" ng-repeat="extras in listaExtras">
                    <md-checkbox class="brown align-middle filtrobox" style="display: table-cell; padding:5px;" ng-true-value="{{extras.extras.id}}">
                        {{extras.extras.desc}}
                    </md-checkbox>
                </div>
            </div>
            <md-button class="md-raised md-warn d-block mx-auto mt-4" ng-click="reiniciaFiltros()">Quitar filtros</md-button>
        </aside>
        <section class="col-md-10 col-xs-9 px-0 mt-5">
            <div class="container ml-2 principal">
                <!--ORDENACION-->
                <md-input-container class="mb-5 ml-3 ordenacion">
                    <label>Ordenar</label>
                    <md-select class="filtrobox" ng-model="ordenacion" ng-change="ordena()">
                        <md-option value="1">Precio más bajo</md-option>
                        <md-option value="2">Precio más alto</md-option>
                        <md-option value="3">Más metros cuadrados</md-option>
                        <md-option value="4">Menos metros cuadrados</md-option>
                    </md-select>
                </md-input-container>
                <!--RPP-->
                <md-input-container class="mb-5 ml-3 ordenacion">
                    <label>Anuncios por página</label>
                    <md-select class="filtrobox" ng-model="rpp" ng-change="rppchange()">
                        <md-option value="5">5</md-option>
                        <md-option value="10">10</md-option>
                        <md-option value="20">20</md-option>
                        <md-option value="30">30</md-option>
                    </md-select>
                </md-input-container>
                <!--ANUNCIOS-->
                <div class="card mb-5 ml-3 mr-2" ng-show="!sinanuncios" ng-repeat="producto in productos" on-finish-render="ngRepeatFinished" md-whiteframe="{{height}}" ng-init="height = 6" ng-mouseenter="height = 12" ng-mouseleave="height = 6">
                    <div class="row">
                        <div class="col-md-4 col-xs-4" style="position: relative;">
                            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                                <div uib-slide ng-if="foto != 'sinfotodefault.jpg'" ng-repeat="foto in producto.fotos track by $index" index="$index">
                                    <img class="thumbnails" ng-src="http://localhost:8081/imagenes/{{producto.producto.obj_Usuario.id}}/{{foto}}" style="margin:auto;">
                                </div>
                                <div uib-slide ng-if="foto == 'sinfotodefault.jpg'" ng-repeat="foto in producto.fotos track by $index" index="$index">
                                    <img class="thumbnails" ng-src="http://localhost:8081/imagenes/sinfotodefault.jpg" style="margin:auto;">
                                </div>
                            </div>
                            <div class="numFotos">{{producto.producto.numFotos}} foto/s</div>
                        </div>
                        <div class="col-md-8 px-0 col-xs-8">
                            <div class="favanuncio" ng-click="favAnuncio(producto.producto.id)">
                                <div class="heart fav{{producto.producto.id}}"></div>
                            </div>
                            <div class="card-body" ng-click="verAnuncio(producto.producto.id)">
                                <div class="row no-gutters mx-3">
                                    <div class="col-md-9 mx-0">
                                        <h4 class="card-title mb-0" md-truncate>{{producto.producto.titulo}}</h4>
                                        <div class="mb-2 text-muted">
                                            <span>{{producto.producto.obj_Tipoinmueble.desc}} en el barrio {{producto.producto.obj_Barrio.desc}}</span><br>
                                        </div>
                                        <div class="mb-2">
                                            <span class="metrosanuncio">{{producto.producto.metroscasa}} m<sup>2</sup></span> - 
                                            <span class="habanuncio">{{producto.producto.habitaciones}} habitacion/es</span> - 
                                            <span class="banyosanuncio">{{producto.producto.banyos}} baño/s</span>
                                        </div>
                                        <p class="card-text">{{producto.producto.descripcion}}</p>
                                    </div>
                                    <div class="col-md-3 precioanuncio">
                                        {{producto.producto.precio}} €
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="sinanuncios" class="alert alert-success text-center">
                    <h2>Ésta ciudad aún no tiene anuncios. ¡El tuyo podría ser el primero!</h2>
                </div>
                <div ng-show="!sinanunciosfiltros" class="alert alert-success text-center">
                    <h2>No hay ningún anuncio que concuerde con tu búsqueda.</h2>
                </div>
            </div>
        </section>
        <!--PAGINACION-->
        <div class="col-md-12 ml-sm-auto col-lg-12 pt-5 mb-5" style="z-index: 2">
            <div class="row d-flex justify-content-center flex-wrap align-items-center">
                <nav aria-label="paginacion">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" ng-show="page > 2" href="cli/ciudad/{{ciudadId}}/{{selectedBarrio}}/{{rpp}}/1/{{orderURLCliente}}"><<</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="page > 1" href="cli/ciudad/{{ciudadId}}/{{selectedBarrio}}/{{rpp}}/{{page - 1}}/{{orderURLCliente}}"><</a>
                        </li>
                        <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                            <a class="page-link" href="cli/ciudad/{{ciudadId}}/{{selectedBarrio}}/{{rpp}}/{{p}}/{{order}}/{{align}}">{{p}}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="page != totalPages" href="cli/ciudad/{{ciudadId}}/{{selectedBarrio}}/{{rpp}}/{{page--1}}/{{orderURLCliente}}">></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="cli/ciudad/{{ciudadId}}/{{selectedBarrio}}/{{rpp}}/{{totalPages}}/{{orderURLCliente}}">>></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

