<footer class="flex-rw">

    <ul class="footer-list-top">
        <li><h4 class="footer-list-header">Sobre CasaFácil</h4></li>
        <li><a href='/shop/about-mission' class="generic-anchor footer-list-anchor" itemprop="significantLink">CONTACTO</a></li>
        <li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">PREGUNTAS FRECUENTES</a></li>
        <li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">¿QUIÉNES SOMOS?</a></li>

    </ul>
    <ul class="footer-list-top">
        <li><h4 class="footer-list-header">The Gift Selection</h4></li>
        <li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor">ANGEL FIGURINES</a></li>
        <li><a href='/Home-Decor/cat/id/64' class="generic-anchor footer-list-anchor">HOME DECOR</a></li>
        <li><a href='/Mugs/cat/id/32' class="generic-anchor footer-list-anchor">MUGS</a></li>

    </ul>
    <ul class="footer-list-top">
        <li id='help'><h4 class="footer-list-header">Please Help Me</h4></li>
        <li id='find-a-store'><a href='/shop/store-locator' class="generic-anchor footer-list-anchor" itemprop="significantLink">STORE LOCATOR</a></li>
        <li id='user-registration'><a href='/shop/user-registration?URL=' class="generic-anchor footer-list-anchor" itemprop="significantLink">NEW USERS</a></li>
        <li id='order-tracking'><a href='/shop/order-status' itemprop="significantLink" class="generic-anchor footer-list-anchor">ORDER STATUS</a></li>
    </ul>
    <section class="footer-social-section flex-rw">
        <span class="footer-social-overlap footer-social-connect">
            SIGUENOS <span class="footer-social-small">en</span>
        </span>
        <span class="footer-social-overlap footer-social-icons-wrapper">
            <a href="https://www.facebook.com/casafacil" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/casafacil" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fab fa-twitter"></i></a>
            <a href="http://instagram.com/casafacil" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fab fa-instagram"></i></a>
        </span>
    </section>
    <section class="footer-bottom-section flex-rw">
        <div class="footer-bottom-wrapper">   
            <i class="fa fa-copyright" role="copyright">

            </i> 2019 CasaFácil en <address class="footer-address" role="company address">Valencia, España</address><span class="footer-bottom-rights"> - Todos los derechos reservados - </span>
        </div>
        <div class="footer-bottom-wrapper">
            <a href="/terms-of-use.html" class="terminos-privacidad" rel="nofollow">Términos y condiciones</a> | <a class="terminos-privacidad" href="/privacy-policy.html" rel="nofollow">Privacidad</a>
        </div>
    </section>
</footer>