<footer class="flex-rw">

    <ul class="footer-list-top">
        <li><h4 class="footer-list-header">Sobre CasaFácil</h4></li>
        <li><a href='/shop/about-mission' class="generic-anchor footer-list-anchor" itemprop="significantLink">CONTACTO</a></li>
        <li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">PREGUNTAS FRECUENTES</a></li>
        <li><a href='/promos.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">¿QUIÉNES SOMOS?</a></li>

    </ul>
    <ul class="footer-list-top">
        <li id='help'><h4 class="footer-list-header">Ciudades al alza</h4></li>
        <li id='find-a-store'><a href='/casafacil-client/public_html/cli/ciudad/1' class="generic-anchor footer-list-anchor" itemprop="significantLink">ALICANTE</a></li>
        <li id='user-registration'><a href='/casafacil-client/public_html/cli/ciudad/2' class="generic-anchor footer-list-anchor" itemprop="significantLink">VALENCIA</a></li>
        <li id='order-tracking'><a href='/casafacil-client/public_html/cli/ciudad/3' itemprop="significantLink" class="generic-anchor footer-list-anchor">CASTELLÓN</a></li>
    </ul>
    <ul class="footer-list-top">
        <li><h4 class="footer-list-header">Contacto</h4></li>
        <li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor"><img class="iconofooter" src="https://img.icons8.com/ios/20/ffffff/secured-letter-filled.png">ATENCION@CASAFACIL.ES</a></li>
        <li><a href='/Home-Decor/cat/id/64' class="generic-anchor footer-list-anchor"><img class="iconofooter" src="https://img.icons8.com/ios/20/ffffff/phone-filled.png">963756464</a></li>
        <li><a href='/Mugs/cat/id/32' class="generic-anchor footer-list-anchor"><img class="iconofooter" src="https://img.icons8.com/ios/20/ffffff/place-marker-filled.png">CALLE FALSA, 123 - VALENCIA</a></li>

    </ul>
    <section class="footer-social-section flex-rw">
        <span class="footer-social-overlap footer-social-connect">
            SIGUENOS <span class="footer-social-small">EN</span>
        </span>
        <span class="footer-social-overlap footer-social-icons-wrapper">
            <a href="https://www.facebook.com/casafacil" class="generic-anchor" target="_blank" title="Facebook" itemprop="significantLink"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/casafacil" class="generic-anchor" target="_blank" title="Twitter" itemprop="significantLink"><i class="fab fa-twitter"></i></a>
            <a href="http://instagram.com/casafacil" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fab fa-instagram"></i></a>
        </span>
    </section>
    <section class="footer-bottom-section flex-rw">
        <div class="footer-bottom-wrapper">   
            <i class="fa fa-copyright" role="copyright">

            </i> 2019 CasaFácil en <address class="footer-address" role="company address">Valencia, España</address><span class="footer-bottom-rights"> - Todos los derechos reservados - </span>
        </div>
        <div class="footer-bottom-wrapper">
            <a href="/terms-of-use.html" class="terminos-privacidad" rel="nofollow">Términos y condiciones</a> | <a class="terminos-privacidad" href="/privacy-policy.html" rel="nofollow">Privacidad</a>
        </div>
    </section>
</footer>