<header-component></header-component>
<div class="container-fluid pr-0">
    <div class="row">
        <div class="imgciudadvalencia"></div>
    </div>
    <div class="row">
        <aside class="col-md-2 pt-5">

            <!--FILTRO DE BARRIO-->
            <md-input-container style="width: 100%;">
                <label>Barrio</label>
                <md-select ng-model="selectedBarrio" ng-change="filtroBarrio()">
                    <md-option aria-label="{{barrio.barrios.desc}}" ng-value="{{barrio.barrios.id}}" ng-repeat="barrio in listaBarrios">
                        {{ barrio.barrios.desc}}
                    </md-option>
                </md-select>
            </md-input-container>
            <!--FILTRO DE EXTRAS-->
            <div style="border: 1px solid #888;">
                <div class="checkbox checkbox-inline filtroinput" ng-click="filtroExtras(extras.extras.id)" ng-repeat="extras in listaExtras">
                    <md-checkbox class="brown align-middle" style="display: table-cell; padding:5px;" ng-true-value="{{extras.extras.id}}">
                        {{extras.extras.desc}}
                    </md-checkbox>
                    <!--<input type="checkbox" name="extras" id="chk-{{extras.extras.id}}">{{extras.extras.desc}}-->
                </div>
            </div>
        </aside>
        <!--ANUNCIOS-->
        <section class="col-md-10 px-0 mt-5">

            <div class="container">
                <md-input-container class="mb-5 ml-2 ordenacion">
                    <label>Ordenar por:</label>
                    <md-select ng-model="ordenacion" ng-change="ordena()">
                        <md-option value="5">Precio más bajo</md-option>
                        <md-option value="51">Precio más alto</md-option>
                        <md-option value="15">Más metros cuadrados</md-option>
                        <md-option value="52">Menos metros cuadrados</md-option>
                    </md-select>
                </md-input-container>
                <div class="card mb-5 ml-3 mr-2 " ng-click="verAnuncio(producto.producto.id)" ng-repeat="producto in productos" on-finish-render="ngRepeatFinished" md-whiteframe="{{height}}" ng-init="height = 6" ng-mouseenter="height = 12" ng-mouseleave="height = 6">
                    <div class="row">
                        <div class="col-md-4 pr-0" style="position: relative;">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=375%C3%97250&w=375&h=250" class="img-fluid imgminianuncio">
                            <div style="position: absolute; bottom: 1px; left: 20px;">{{producto.producto.numFotos}} fotos</div>
                        </div>
                        <div class="col-md-8 px-0">
                            <div class="card-body">
                                <div class="row no-gutters mx-3">
                                    <div class="col-md-9 mx-0">
                                        <h4 class="card-title mb-0">{{producto.producto.titulo}}</h4>
                                        <div class="mb-2 text-muted">
                                            <span>{{producto.producto.obj_Tipoinmueble.desc}} en el barrio {{producto.producto.obj_Barrio.desc}}</span><br>
                                        </div>
                                        <div class="mb-2">
                                            <span class="metrosanuncio">{{producto.producto.metroscasa}} m<sup>2</sup></span> - 
                                            <span class="habanuncio">{{producto.producto.habitaciones}} habitacion/es</span> - 
                                            <span class="banyosanuncio">{{producto.producto.banyos}} baño/s</span>
                                        </div>
                                        <div class="favanuncio" ng-click="favAnuncio(producto.producto.id)">
                                            <div class="heart fav{{producto.producto.id}}"></div>
                                        </div>
                                        <p class="card-text" md-truncate>{{producto.producto.descripcion}}</p>
                                    </div>
                                    <div class="col-md-3 precioanuncio">
                                        <h4>{{producto.producto.precio}} €</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="container py-3">
                            <div class="card mb-5" ng-repeat="producto in productos"  md-whiteframe="{{height}}" ng-init="height = 6" ng-mouseenter="height = 12" ng-mouseleave="height = 6">
                                <div class="row">
                                    <div class="col-md-4 pr-0">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=375%C3%97250&w=375&h=250" class="img-fluid">
                                    </div>
                                    <div class="col-md-8 px-3 py-3 cuerpoanuncio">
            
                                        <div class="row no-gutters mx-3">
                                            <div class="col-md-9 mx-0">
                                                <h4 class="card-title mb-0">{{producto.producto.titulo}}</h4>
                                                <div class="mb-2 text-muted">
                                                    <span>{{producto.producto.obj_Tipoinmueble.desc}} en el barrio {{producto.producto.obj_Barrio.desc}}</span><br>
                                                </div>
                                                <div class="mb-2">
                                                    <span class="metrosanuncio">{{producto.producto.metroscasa}} m<sup>2</sup></span> - 
                                                    <span class="habanuncio">{{producto.producto.habitaciones}} habitacion/es</span> - 
                                                    <span class="banyosanuncio">{{producto.producto.banyos}} baño/s</span>
                                                </div>
                                                <div class="favanuncio" ng-click="favAnuncio($index, producto.producto.id)">
                                                    <div class="heart fav{{$index}}"></div>
                                                </div>
                                                <p class="card-text" md-truncate>{{producto.producto.descripcion}}</p>
                                            </div>
                                            <div class="col-md-3 precioanuncio">
                                                <h4>{{producto.producto.precio}} €</h4>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                        </div>-->
        </section>

        <!--PAGINACION-->
        <div class="col-md-12 ml-sm-auto col-lg-12 pt-5" style="z-index: 222">
            <div class="row d-flex justify-content-center flex-wrap align-items-center">
                <nav aria-label="paginacion">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" ng-show="page > 2" href="{{ob}}/plist/{{rpp}}/1/{{order}}/{{align}}">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="page > 1" href="{{ob}}/plist/{{rpp}}/{{page - 1}}/{{order}}/{{align}}">Previous</a>
                        </li>
                        <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                            <a class="page-link" href="{{ob}}/plist/{{rpp}}/{{p}}/{{order}}/{{align}}">{{p}}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="page != totalPages" href="{{ob}}/plist/{{rpp}}/{{page--1}}/{{order}}/{{align}}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="{{ob}}/plist/{{rpp}}/{{totalPages}}/{{order}}/{{align}}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

