<header-component></header-component>

<div class="container-fluid favcontainer">
    <div class="row ">
        <div class="col-md-10 mx-auto">
            <div class="container py-3">
                <div class="card mb-5 ml-3 mr-2 " ng-repeat="producto in productos" on-finish-render="ngRepeatFinished" md-whiteframe="{{height}}" ng-init="height = 6" ng-mouseenter="height = 12" ng-mouseleave="height = 6">
                    <div class="row">
                        <div class="col-md-4 pr-0">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=375%C3%97250&w=375&h=250" class="img-fluid imgminianuncio">
                        </div>
                        <div class="col-md-8 px-0">
                            <div class="card-body">
                                <div class="row no-gutters mx-3">
                                    <div class="col-md-9 mx-0">
                                        <h4 class="card-title mb-0">{{producto.producto.titulo}}</h4>
                                        <div class="mb-2 text-muted">
                                            <span>{{producto.producto.obj_Tipoinmueble.desc}} en el barrio {{producto.producto.obj_Barrio.desc}}</span><br>
                                        </div>
                                        <div class="mb-2">
                                            <span class="metrosanuncio">{{producto.producto.metroscasa}} m<sup>2</sup></span> - 
                                            <span class="habanuncio">{{producto.producto.habitaciones}} habitacion/es</span> - 
                                            <span class="banyosanuncio">{{producto.producto.banyos}} baño/s</span>
                                        </div>
                                        <div class="favanuncio" ng-click="favAnuncio(producto.producto.id)">
                                            <div class="heart fav{{producto.producto.id}} is-active"></div>
                                        </div>
                                        <p class="card-text" md-truncate>{{producto.producto.descripcion}}</p>
                                    </div>
                                    <div class="col-md-3 precioanuncio">
                                        <h4>{{producto.producto.precio}} €</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--PAGINACION-->
        <div class="col-md-10 mx-auto col-lg-10 pt-5">
            <div class="row d-flex justify-content-center flex-wrap align-items-center">
                <nav aria-label="paginacion">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" ng-show="page > 2" href="cli/misfavs/{{rpp}}/1/{{order}}/{{align}}">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="page > 1" href="cli/misfavs/{{rpp}}/{{page - 1}}/{{order}}/{{align}}">Previous</a>
                        </li>
                        <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                            <a class="page-link" href="cli/misfavs/{{rpp}}/{{p}}/{{order}}/{{align}}">{{p}}</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="page != totalPages" href="cli/misfavs/{{rpp}}/{{page--1}}/{{order}}/{{align}}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="cli/misfavs/{{rpp}}/{{totalPages}}/{{order}}/{{align}}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>