<header-component></header-component>
<div class="container mb-5" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-8 col-xl-5 mx-auto box2" ng-show="!wantslogin">
            <form name="passForm" ng-submit="change()">
                <h3>Cambiar Contraseña</h3>
                <md-content layout-padding class="newForm mb-5 p-4" md-whiteframe="6">
                    <md-input-container class="md-block px-3">
                        <label class="px-3">Contraseña actual</label>
                        <input required ng-model="pass1" type="password" name="pass1">
                        <div ng-messages="passForm.pass1.$error">
                            <div ng-message="required">Este campo es obligatorio</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block px-3">
                        <label class="px-3">Nueva contraseña</label>
                        <input required ng-model="newpass1" type="password" name="newpass1">
                        <div ng-messages="passForm.newpass1.$error">
                            <div ng-message="required">Este campo es obligatorio</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block px-3">
                        <label class="px-3">Repita la contraseña</label>
                        <input required ng-model="newpass2" type="password" name="pass2">
                        <div ng-messages="passForm.pass2.$error">
                            <div ng-message="required">Este campo es obligatorio</div>
                            <div ng-show="newpass1 != newpass2">Las contraseñas no coinciden</div>
                        </div>
                    </md-input-container>

                    <div class="d-flex justify-content-center">
                        <md-button  type="submit" class="md-raised botoniniciar">Cambiar</md-button>
                    </div>
                </md-content>
            </form>
            <form name="userForm" ng-submit="edit()">
                <h3>Editar datos del perfil</h3>
                <md-content layout-padding class="newForm mb-5 p-4" md-whiteframe="6">

                    <md-input-container class="md-block px-3">
                        <label class="px-3">Nombre de usuario</label>
                        <input required ng-model="usuario" name="usuario" disabled>
                        <div ng-messages="userForm.usuario.$error">
                            <div ng-message="required">Este campo es obligatorio</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block px-3">
                        <label class="px-3">Correo electrónico</label>
                        <input required type="email" name="email" ng-model="email"
                               minlength="10" ng-pattern="/^.+@.+\..+$/" disabled/>
                        <div ng-messages="userForm.email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'pattern']">
                                Tu email debe tener al menos 10 carácteres, una @ y una terminación (.com, .es ...)
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block px-3">
                        <label class="px-3">Teléfono</label>
                        <input ng-model="telefono" type="number" name="telefono">
                    </md-input-container>

                    <md-input-container class="md-block px-3">
                        <label class="px-3">Nombre</label>
                        <input required ng-model="nombre" type="text" name="nombre">
                        <div ng-messages="userForm.nombre.$error">
                            <div ng-message="required">Este campo es obligatorio</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block px-3">
                        <label class="px-3">Primer apellido</label>
                        <input ng-model="ape1" type="text" name="ape1">
                        <div ng-messages="userForm.ape1.$error">
                            <div ng-message="required">Este campo es obligatorio</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block px-3">
                        <label class="px-3">Segundo apellido</label>
                        <input ng-model="ape2" type="text" name="ape2">
                    </md-input-container>



                    <div class="d-flex justify-content-center">
                        <md-button  type="submit" class="md-raised botoniniciar">Guardar</md-button>
                    </div>
                </md-content>
            </form>
        </div>
    </div>
</div>